*{
    padding: 0%;
    margin: 0%;
}

.purple-pg{
    height:100vh;
    width:40vw;
    min-width: 600px;
    background:linear-gradient(#e942ff, #8838ff);
border-radius: 0 0 50% 50%;
margin-left: -150px;
margin-top:-50px ;
} 
.phone{
    width:300px;
    height:580px;
    background-color:white;
    margin-top: -580px;
    margin-left: 300px;
    border-radius: 40px;
    padding: 12px;
    box-shadow: 0px 0px 10px;
}
.header{
    width: 100%;
    height: 70px;
    background: linear-gradient(to left,#e942ff, #8838ff);
    border-radius: 20px 20px 0px 0px;    
}
.notch{
    background-color: white;
    border-radius: 0 0  30px 30px;
    margin: 0 auto;
    height: 20px;
    width: 150px;
}
.header img{
    border-radius: 50%;
    width: 30px;
   border: solid white 3px;
   margin-left: 10px;
   margin-top: 5px;

}
.less-than{
    font-size 20px;
    color: white;
    position: relative;
    margin-left: 30px;
    bottom: 15px;
}
.header-text{
    margin-top: -55px;
    margin-left: 100px;
    color: white;
}
.hero-name{
    font-size: 20px;
    margin: 10px 0 0 0;
}
.status{
    color: rgba(255, 255, 255, 0.455);

}
.option-btn {
    color: white;
    margin-left: 90%;
    position: relative;
    bottom: 30px;
    font-size: 20px;
}
.app-body{
    background-color: hsl(270, 20%, 96%);
    height:520px;
    font-size: 14px;
    margin-top: -25px;
    border-radius:0 0 40px 40px;
}
.body-text {
    
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: hsla(264, 100%, 61%, 0.274);
    color: #85338e;   
    position: relative;
    top: 10px;
    left: 10px;
    
}
.second-text{
    margin-top: 5px;

}
.images{
    margin: 15px 0 0 120px;
    width: fit-content;
}
.images img{
    width: 55px;
    border-radius: 10px;

}
.reply{
    box-shadow: 0 0 5px;
    width:50%;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 135px;
    background-color: white;
    color: black;
}
.poll{
    background: linear-gradient(to left,#e942ff, #8838ff);
    width: 60%;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.poll input{
    height: 18px;
    border:solid 2px rgba(255, 255, 255, 0.455);
    width: 18px;
    border-radius: 50px;
    appearance: none;
    
    
}
.first-poll{
    margin-top: 15px;

}
label{
    color: rgba(255, 255, 255, 0.455);
    margin-left: -20px;
    
}
.poll p{
    color: white;
    font-size: 17px;
    font-weight: 900;
}
.submit{
    background-color:white;
    width:90%;
    border-radius: 20px;
    margin:auto;
    height: 45px;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 10px;
    
}
.submit input{
    height: 90%;
    width: 80%;
    border:none;
    
}
.submit button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(271, 36%, 24%);
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.Rundown{
    margin-left: 450px;
    width: 300px;
    margin-top: -400px;
}
.Aim{
    font-size: 40px;
    color: hsl(271, 36%, 24%);
}
.Summary{
    padding:20px 0;
   color hsl(270, 7%, 64%);

}
